/*
THEMES PLUGIN CSS
*/

/* CUSTOM FORM STYLING */

.section_title {
  font-size: 2em;
  margin: 1em 0;
  font-weight: bold;
}
.section_title.level_1 {
  font-size: 2em;
  margin: 1em 0;
  font-weight: bold;
}
.section_title.level_2 {
  font-size: 1.55em;
  margin: 1em 0;
  font-weight: bold;
}
.section_title.level_3 {
  font-size: 1em;
  margin: 1em 0;
  font-weight: bold;
}
fieldset {
  border-bottom: 1px solid #dedede;
  padding: 10px;
  margin: 10px 0;
}
fieldset legend {
  font-weight: bold;
  margin-left: -10px;
}
.form-field {
  overflow: hidden;
  zoom: 1;
  margin: 5px 0;
  font-size: 12px;
}
.form-field .short-description {
  font-size: 12px;
  color: #666666;
  display: inline-block;
  margin-left: 20px;
}
.options_wrap label {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.options_wrap input[type=text] {
  width: 200px;
  padding: 5px 8px;
}
.options_wrap .field-group {
  width: 184px;
  padding: 5px 8px;
  display: inline-block;
}
.options_wrap .form-field input,
.options_wrap .form-field textarea {
  width: 250px;
}
.options_wrap .form-field textarea {
  height: 80px;
}
#notifications {
  opacity: 0;
  transition: opacity .5s;
}
#notifications.fade {
  opacity: 1;
}
#notifications .notice {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
#notifications .notice.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#notifications .notice.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
#notifications .notice.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
